<div class="container">
  <div class="row">
    <div class="col-md-6 well">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Tournament Name</th>
              <th>Tournament Location</th>
              <th>Tournament Date</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>
          	<% @tournaments.each do |t| %>
          	<tr>
              <td><%= t.name %></td>
              <td><%= t.tourn_location %></td>
              <td><%= date_output(t.tourn_date) %></td>
              <td><%= link_to 'view', tournament_path(t), class: 'btn btn-success' %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>



    </div>
  </div>
</div>