// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|Lato:100,300,400);

html {
  height: 100%;
}

.blue {
  color: #447fc8;
}

/* LOGIN  */

#form-wrapper {
  border:1px solid #ccc;
  padding:10px;
  @include border-radius(15px);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 45%;
  left: 50%;
  display: block;
  margin-top: -185px;
  margin-left: -235px;
  padding: 25px;
  width: 420px;
  background: white;
  text-align: center;
}

.login-form legend {
  margin-top: 5px;
  margin-bottom: 30px;
  padding-bottom: 25px;
}

.login-form .body {
  padding-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
}

.login-form .footer {
  margin-top: 20px;
}

.login-form .footer .checkbox.inline {
  display: inline;
}

.login-form .footer .checkbox.inline input[type="checkbox"] {
  float: none;
  margin-top: -4px;
}

.login-form .footer .btn {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-left: 15px;
  padding: 7px 25px;
  background-image: none;
}


/* FONTS */

.login-form legend {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: #333333;
  -webkit-font-smoothing: subpixel-antialiased;
}


.login-form label {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 20px;
  color: #333333;
  font-weight: 300;
}


/* MEDIA QUERIES */

/* Portrait tablet*/
@media (max-width: 980px) {
  #form-wrapper {
    position: relative;
    top: 0;
    margin-top: 25px;
  }
}
@media (max-width: 495px) {
  #form-wrapper {
    width: auto;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    left: 0;
  }

}

