// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|Lato:100,300,400);

html {
  height: 100%;
}

.blue {
  color: #447fc8;
}

/* LOGIN  */

#form-wrapper {
  border:1px solid #ccc;
  padding:10px;
  @include border-radius(15px);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 45%;
  left: 50%;
  display: block;
  margin-top: -185px;
  margin-left: -235px;
  padding: 25px;
  width: 420px;
  background: white;
  text-align: center;
}

.login-form legend {
  margin-top: 5px;
  margin-bottom: 30px;
  padding-bottom: 25px;
}

.login-form .body {
  padding-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
}

.login-form .footer {
  margin-top: 20px;
}

.login-form .footer .checkbox.inline {
  display: inline;
}

.login-form .footer .checkbox.inline input[type="checkbox"] {
  float: none;
  margin-top: -4px;
}

.login-form .footer .btn {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-left: 15px;
  padding: 7px 25px;
  background-image: none;
}


/* FONTS */

.login-form legend {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: #333333;
  -webkit-font-smoothing: subpixel-antialiased;
}


.login-form label {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 20px;
  color: #333333;
  font-weight: 300;
}


/* Admin Dashboard */

.tournament-header {
  position:relative;
}

/* + is equivalent to Jquerys next */

.tournament-header + .table.section-body {
  display:none;
}

.tournament-header.section-show + table.section-body {
  display:block;
}

.tournament-header .toggle {
  background: url('/assets/toggle-open.png');
  width:38px;
  height:38px;
  position:absolute;
  top:-6px;
  right:186px;
  cursor:pointer;
}

.tournament-header.section-show .toggle {
  background: url('/assets/toggle-close.png');
}

/* Repsonive Tabs */

ul.resp-tabs-list {
    margin: 0px 0px 25px 0px;
    padding: 0px;
    display: inline-block;
    width: 100%;
}
.resp-tabs-list li {
    font-size: 16px;
    display: inline-block;
    padding: 15px;
    margin: 0px;
    list-style: none;
    cursor: pointer;
    float: left;
    -webkit-transition:background 0.1s ease-in-out;
    -moz-transition:background 0.1s ease-in-out;
    -o-transition:background 0.1s ease-in-out;
    transition:background 0.1s ease-in-out;
}
.resp-tabs-container {
    padding: 0px;
    clear: left;
}
.resp-tab-content {
    display: none;
}
.resp-tab-active {
    padding: 15px !important;
}
.resp-tab-active {
    border-bottom: none;
}
.resp-content-active, .resp-accordion-active {
    display: block;
}
/*-----------Vertical tabs-----------*/
 .resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
    border-bottom: none;
}
.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0;
    cursor: pointer;
    float: none;
}
.resp-vtabs .resp-tabs-container {
    padding: 0px;
    float: left;
    width: 70%;
    clear: none;
}
.resp-vtabs .resp-tab-content {
    border: none;
    padding-left: 30px;
}
.resp-vtabs li.resp-tab-active {
    position: relative;
    z-index: 1;
    padding: 15px !important;
}
h2.resp-tab-active {
    margin-bottom: 0px !important;
    padding: 15px 15px !important;
}
h2.resp-tab-active span.resp-arrow {
    border: none;
}
.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
}
/*-----------Accordion styles-----------*/
h2.resp-accordion {
    cursor: pointer;
    display: none;
    font-size: 18px;
    margin: 0px;
    padding: 15px;
}
.resp-easy-accordion h2.resp-accordion {
    display: block;
}
.resp-jfit {
    width: 100%;
    margin: 0px;
}
.resp-tab-content-active {
    display: block;
}
@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }
    h2.resp-accordion {
        display: block;
    }
    .resp-vtabs .resp-tab-content {
        padding-left: 0px;
    }
    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-tabs-container > div {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

/* ================= GALLERY ================== */
 .filters {
    list-style:none;
    padding:15px;
    margin:0;
    display:inline-block;
    position:relative;
    width:100%;
    vertical-align:bottom;
}
.filters li {
    float:left;
    margin-right:13px;
}
.filters li a {
    padding:5px 10px 5px 10px;
    line-height: 2;
    font-size:16px;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
}
.filters li a:hover {
    text-decoration:none;
}
.team-gallery {
    list-style:none;
    position:relative;
    margin:0px;
    padding:0px;
    display:inline-block;
    vertical-align:bottom;
}
.team-gallery li {
    float:left;
    position:relative;
    width:33.3333333333%;
    -webkit-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    -moz-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    -ms-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    -o-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    -moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    -ms-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.team-gallery.quarter li {
    width:25%;
}
.team-gallery li a, .team-gallery li a img {
    display:block;
    position:relative;
    width:100% !important;
    height:auto !important;
    border-radius:0px !important;
    overflow:hidden;
    outline:0 !important;
}
.team-gallery li a img {
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}
.team-gallery li a {
    -webkit-perspective: 1000;
    opacity:1;
    overflow: hidden;
}
.team-gallery li a img:hover {
    opacity:0.2;
    transform: scale(1.5) rotate(15deg);
    -webkit-transform: scale(1.5) rotate(15deg);
    -ms-transform: scale(1.5) rotate(15deg);
} 
.team-gallery li a.clb-photo,.team-gallery li a.clb-iframe,.team-gallery li a.clb-link {
    overflow:hidden;
    background-position:center center;
    background-repeat:no-repeat;
}
.team-gallery li a.clb-photo {
    /*background-image:url('../images/zoom.png');*/
}
.team-gallery li a.clb-iframe {
    background-image:url('../images/iframe.png');
}
.team-gallery li a.clb-link {
    background-image:url('../images/link.png');
}
.button-widget {
    margin: 0px !important;
    width: 100%;
}
.no-effect{
    pointer-events:none !important;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity:0.3;
}
/* ================= OUR TEAM ================== */
.teamlist ul {
    list-style:none;
    padding:0;
    margin:0;
}
.teamlist ul li {
    padding-bottom:10px;
    margin-bottom:10px;
}
.teamlist ul li:first-child {
    padding-top:10px;
    margin-top: 25px;
}
.teamlist ul li:last-child {
    margin-bottom:0px;
}
.teamlist ul li a {
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    /*background-image: url('../images/eye.png');*/
    background-position: right center;
    background-repeat: no-repeat;
    display: block;
}
.teamlist ul li a:hover {
    text-decoration:none;
    /*background-image: url('../images/eye2.png');*/
}
.teamlist-popup {
    position: relative;
    padding: 30px;
    width: auto;
    max-width: 500px;
    margin: 30px auto;
    padding-bottom: 10px;
}
.teamlist-popup img{
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}
.teamlist-popup p{
    margin-bottom: 20px;
}

/* ================= TABS ================== */
ul.resp-tabs-list {
    border-bottom: 3px solid #cc0000;
    background-color: #e1e1e1;
}
.resp-tabs-list li {
    background-color: #e1e1e1;
}
.resp-tabs-list li:hover {
    background-color: #000;
    color:#fff;
}
.resp-tabs-list li.resp-tab-active {
    background-color: #000;
    color:#fff;
}
.resp-tabs-container {
    background-color: #fff;
}
.resp-tab-active {
    background-color: #fff;
}
/*-----------Vertical tabs-----------*/
 .resp-vtabs ul.resp-tabs-list {
    border-right: 3px solid #cc0000;
}
.resp-vtabs .resp-tabs-container {
    background-color: #fff;
}
 h2.resp-tab-active {
    background-color: #000;
    color:#fff;
}


/* MEDIA QUERIES */

/* Portrait tablet*/
@media (max-width: 980px) {
  #form-wrapper {
    position: relative;
    top: 0;
    margin-top: 25px;
  }
}
@media (max-width: 495px) {
  #form-wrapper {
    width: auto;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    left: 0;
  }

}

